#{extends 'main.html' /}
#{set title:'Mining Twitter Home' /}

<!-- Map -->
<div class="container">
	<div id="map_canvas" style="width: 100%; height: 60%;">
			
	</div>
</div>


#{set 'moreScripts'}

<script>
	$(window).resize(function () {
	    var h = $(window).height(),
	        offsetTop = 60; // Calculate the top offset
	
	    $('#map_canvas').css('height', (h - offsetTop));
	}).resize();
</script>

<script>

var map;
var markersArray = [];
var infoWindow = new google.maps.InfoWindow({ 
    size: new google.maps.Size(150,50)
});

function initialize() {
	
	/* 	Original Map Center */
	var mapCenter = new google.maps.LatLng("${site.latitude}", "${site.longitude}");
	
	/* 	Map Options */
	var mapOptions = {
		zoom: 4,
		center: mapCenter,
		mapTypeId: google.maps.MapTypeId.ROADMAP
	}
	
	map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
	
	/* 	Add original marker and message */
	var marker = new google.maps.Marker({
		position: mapCenter,
		map: map,
		icon: setIcon('donkey-elephant.jpeg', 120, 64)
	});
	markersArray.push(marker);
	/* 	Add original info window */
	infoWindow.setContent("<h4>" + "United States" + "</h4>" + "<h5>Obama: ${site.obamaStat}, Romney: ${site.romneyStat}</h5>");
	infoWindow.open(map, marker);
	
	google.maps.event.addListenerOnce(map, 'idle', function() {
/* 		deleteOverlays(); */
		eventMonitor(map);
	});

}

/* Listen to multiple events and get data within bounds */
function eventMonitor(map) {
	
	var center = map.getCenter();
	
	/* 	Zoom changed event listener */
	google.maps.event.addListener(map, 'zoom_changed', function(event) {
		deleteOverlays();
	});
	
	/* 	Click event listener */
	/*
google.maps.event.addListener(map, 'click', function(event) {
		center = event.latLng;
		map.setCenter(center);
	});
*/
	
	/* 	Check if Google Map is fully loaded */
	google.maps.event.addListener(map, 'idle', function() {
		getData(map);
	});
	
}

/* Add markers to the marker array */
function addMarker(myLatLng, contentString, image) {
	marker = new google.maps.Marker({
		position: myLatLng,
		map: map,
		icon: image
	});
	markersArray.push(marker);
	attachMessage(marker, contentString);
}

function attachMessage(marker, contentString) {
	
    google.maps.event.addListener(marker, 'click', function() {
    	infoWindow.setContent(contentString);
	    infoWindow.open(map, marker);
    });
}

/* Removes the overlays from the map, but keeps them in the array */
function clearOverlays() {
	if (markersArray) {
		for (i in markersArray) {
			markersArray[i].setMap(null);
		}
	}
}

/* Shows any overlays currently in the array */
function showOverlays() {
	if (markersArray) {
		for (i in markersArray) {
			markersArray[i].setMap(map);
		}
	}
}

/* Deletes all markers in the array by removing references to them */
function deleteOverlays() {
	if (markersArray) {
		for (i in markersArray) {
			markersArray[i].setMap(null);
		}
		markersArray.length = 0;
	}
}

/* Get data within certain boudns */
function getData(map) {
	var zoomLevel = map.getZoom();
	var bounds = map.getBounds();
	var swPoint = bounds.getSouthWest();
	var nePoint = bounds.getNorthEast();
	var swLat = swPoint.lat().toFixed(6);
    var swLng = swPoint.lng().toFixed(6);
    var neLat = nePoint.lat().toFixed(6);
    var neLng = nePoint.lng().toFixed(6);
    $.ajax({
		url: '/sites',
		dataType: 'json',
		data: {
			zoom: zoomLevel,
			swLat: swLat,
			swLng: swLng,
			neLat: neLat,
			neLng: neLng
		},
		success: function(data) {
			for(var i = 0; i < data.length; i ++) {
				var myLatLng = new google.maps.LatLng(data[i].latitude, data[i].longitude);
				if(zoomLevel == 5) {
					var message = "<h4>" + data[i].state + "</h4>" + "<h5>Obama: " + data[i].obamaStat + ", " + "Romney: " + data[i].romneyStat + "</h5>";
				}
				else {
					var message = "<h4>" + data[i].city + ", " + data[i].state + "</h4>" + "<h5>Obama: " + data[i].obamaStat + ", " + "Romney: " + data[i].romneyStat + "</h5>";
				}
				var image;
				if(data[i].obama == data[i].romney) {
					image = setIcon('donkey-elephant.jpeg', zoomLevel * 18, zoomLevel * 9.6);
				}
				else if(data[i].obama > data[i].romney) {
					image = setIcon('donkey.jpeg', zoomLevel * 9, zoomLevel * 9.6);
				}
				else {
					image = setIcon('elephant.jpeg', zoomLevel * 9, zoomLevel * 9.6);
				}
				addMarker(myLatLng, message, image);
			}
		}
	});
}

function setIcon(url, wid, hig) {
	return new google.maps.MarkerImage('public/images/' + url, null, null, null, new google.maps.Size(wid, hig));	
}

google.maps.event.addDomListener(window, 'load', initialize);

</script>
#{/set}
